name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: echo ${{github.ref}} # if: github.event_name == 'push'  && github.ref == 'refs/heads/master' ---> Push && Master

      - run: echo Condition met
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'

      - name: Begin CI...
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn # npm install --no-audit # `npm ci` is not used, because `node_modules` are cached, and `npm ci` deletes `node_modules`.
        env:
          CI: true

      # - name: eslint on Commit
      #   # if: github.event_name == 'push'
      #   uses: stefanoeb/eslint-action@1.0.2
      #   with:
      #     args: '--cache --max-warnings 0'

      - name: Create README.md
        run: npx devkeeper-docs readme
        env:
          CI: true

      - name: Commit changes
        uses: EndBug/add-and-commit@v4
        with:
          message: "docs: auto generate README from template"
          add: "README.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Lint
      #   run: yarn lint
      #   env:
      #     CI: true

      # - name: Test
      #   run: yarn test --ci --coverage --maxWorkers=2
      #   env:
      #     CI: true

      # - name: Build
      #   run: yarn build
      #   env:
      #     CI: true



      # - run: npm install
      # - run: npm run build --if-present
      # - run: npm test
